{% extends "layout.html" %}

{% block title %}메인페이지{% endblock %}
{% block container %}
	<div class ="container">
		<div class="row justify-content-center">
			<div class="col-6 text-center">
			<p class="h1 m-3" style="color: #999;"> 메인페이지 </p>
                {% if current_user.is_authenticated %}
				<a href="{{url_for('signout')}}">
				<button class='btn btn-primary m-3' type="submit">로그아웃</button>
				</a>
                <h3 style="color: #fff;"> this is login user : {{current_user.username}} </h3>
                {% else %}
				<a href="{{url_for('signin')}}">
				<button class='btn btn-primary m-3' type="submit">로그인</button>
				</a>
				<br>
				<a href="{{url_for('signup')}}">
				<button class='btn btn-success m-3' type="submit">회원가입</button>
				</a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock %}
